.home_cont {
  position: relative;
  .vector_cont {
    top: clamp(-15rem, -7vw, -3rem);
    right: clamp(5.5rem, 8vw, 11rem);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: -1;

    svg {
      position: absolute;
      width: 100vw;
      height: auto;
      path {
        animation: vector_load_animation 2s ease-in;
      }
    }
  }

  .main_screen {
    height: clamp(22rem, 35vw, 88rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 3vw, 5rem);
    .main_title {
      font-size: clamp(3rem, calc(6vw + 0.1rem), 9.5rem);
      font-weight: bold;
      span {
        color: #396ded;
      }
    }
    .main_slogan {
      text-align: center;
      font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
      opacity: 70%;
    }
  }
}

@keyframes vector_load_animation {
  0% {
    stroke: black;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 800;
    stroke: transparent;
    fill: transparent;
    stroke: black;
  }
}
