.home-cont {
  .vector-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    width: 100%;
    top: 100px
  }

  .main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;

    .main-title {
      margin-top: 179px;
      font-weight: bold;
      font-size: 95px;
      line-height: 148%;
      text-align: center;
      color: #000000;

      span {
        color: #396ded;
      }
    }

    .main-slogan {
      margin-bottom: 179px;
      font-weight: 500;
      font-size: 24px;
      line-height: 210%;
      text-align: center;
      color: #000000;
      opacity: 0.7;
    }
  }
}
//
//Phone display############################################################
//
@media only screen and (max-width: 900px) {
  .home-cont {
    .vector-cont {
      top: 110px;
      .lvector{
        svg{
          width: 79.1px;
          height: 185.7px;
        }
      }
      .rvector{
        svg{
          width: 107.4px;
          height: 230.8px;
        }
      }
    }
  
    .main-screen {
      gap: 50px;
      margin-left: 16px;
      margin-right: 16px;
  
      .main-title {
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 35px;
      }
  
      .main-slogan {
        margin-bottom: 80px;
        font-size: 20px;
      }
    }
  }
}