.radio-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  label {
    margin-left: 34px;
    font-weight: 600;
    font-size: 25px;
    line-height: 210%;
    color: #000000;
  }
}
