.input-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;

  input[type="text"] {
    background: #f0f0f0;
    border: 3px solid #000000;
    box-sizing: border-box;
    resize: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 210%;
    color: rgba(0, 0, 0, 0.7);
  }

  input[type="email"] {
    background: #f0f0f0;
    border: 3px solid #000000;
    box-sizing: border-box;
    resize: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 210%;
    color: rgba(0, 0, 0, 0.7);
  }

  input[type="checkbox"] {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  input[type="radio"] {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  label {
    margin-left: 34px;
    font-weight: 600;
    font-size: 25px;
    line-height: 210%;
    color: #000000;
  }
}
