.input_cont {
  display: flex;
  align-items: center;

  input {
    margin: 0rem;
    width: clamp(20rem, 20vw, 30rem);
    height: 100%;
    border: clamp(0.2rem, 0.2vw, 0.3rem) solid black;
    padding-left: 1rem;
    background: #f0f0f0;

    font-weight: bold;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.7);
  }

  input[type="text"] {
  }

  input[type="email"] {
    background: #f0f0f0;
    border: 0.3rem solid black;
    box-sizing: border-box;
    resize: none;

    font-weight: bold;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.7);
  }

  input[type="checkbox"] {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }

  input[type="radio"] {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }

  label {
    margin-left: 3.4rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 210%;
    color: black;
  }
}
