.step1_cont {
  padding: clamp(2.5rem, 3vw, 5rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 6vw, 10rem);
  .block_a {
    display: flex;
    justify-content: space-between;
    font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
    font-weight: bold;
  }

  .block_b {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .input_cont {
      label {
        margin: clamp(0.5rem, 1vw, 1.5rem) 0rem;
        border: clamp(0.2rem, 0.2vw, 0.3rem) solid black;
        padding: clamp(2rem, 3vw, 3rem);
        width: 70%;
        cursor: pointer;
        background-color: transparent;
        transition: 0.2s;
        input {
          width: 0;
          height: 0;
        }
      }

      label:hover {
        background-color: black;
        color: white;
        transition: 0.2s;
      }

      label:has(input:checked) {
        background-color: black;
        color: white;
      }
    }
  }

  .block_c {
    padding: clamp(3rem, 4vw, 6rem);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: white;
    .title {
      font-size: clamp(2rem, calc(2vw + 0.1rem), 2.8rem);
      font-weight: bold;
    }
    .selection {
      font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
      opacity: 70%;
    }
  }

  .button_container {
    align-self: flex-end;
  }

  .service_quality {
    padding: clamp(2.5rem, 3vw, 5rem) 0rem;
    display: flex;
    flex-direction: column;
    gap: clamp(5rem, 6vw, 10rem);

    .title {
      font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
      font-weight: bold;
    }

    .block_a2 {
      display: grid;
      grid-template-columns: repeat(3, 33%);
    }

    .block_b2 {
      display: flex;
      justify-content: center;
      gap: clamp(1rem, 2vw, 4rem);
      font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2.5rem);
      font-weight: bold;

      p {
        margin: 0rem;
      }

      input {
        width: clamp(20rem, 20vw, 40rem);
      }
    }

    .custom_time {
      display: flex;
      justify-content: center;
      input {
        margin: 0;
      }
    }
  }
}

@keyframes checkbox_checked {
  0% {
    background-position-x: -100%;
    background-color: black;
  }

  100% {
    background-position-x: center;
    background-color: black;
  }
}

@media only screen and (max-width: 43rem) {
  .step1_cont {
    .block_b {
      display: block;
      .input_cont {
        label {
          width: 100%;
        }
      }
    }
    .block_c {
      text-align: center;
    }
    .service_quality {
      .title {
        text-align: center;
      }
      .block_a2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .block_b2 {
        text-align: center;
      }
    }
    .button_container {
      width: 100%;
    }
  }
}
