.step1_cont {
  padding: clamp(2.5rem, 3vw, 5rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 6vw, 10rem);
  .block_a {
    display: flex;
    justify-content: space-between;
    font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
    font-weight: bold;
  }

  .block_b {
    height: 20rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }

  .block_c {
    padding: clamp(3rem, 4vw, 6rem);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: white;
    .title {
      font-size: clamp(2rem, calc(2vw + 0.1rem), 2.8rem);
      font-weight: bold;
    }
    .selection {
      font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
      opacity: 70%;
    }
  }

  .button_container {
    align-self: flex-end;
  }

  .service_quality {
    padding: clamp(2.5rem, 3vw, 5rem) 0rem;
    display: flex;
    flex-direction: column;
    gap: clamp(5rem, 6vw, 10rem);

    .title {
      font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
      font-weight: bold;
    }

    .block_a2 {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }

    .block_b2 {
      display: flex;
      justify-content: center;
      gap: 4rem;
      font-size: 2.5rem;
      font-weight: bold;

      p {
        margin: 0rem;
      }

      input {
        width: 40rem;
      }
    }

    .custom_time {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
}
