.button-cont {
  button {
    width: 100%;
    height: 77px;
    background: #396ded;
    border: solid #396ded;
    font-weight: 500;
    font-size: 24px;
    line-height: 210%;
    text-align: center;
    color: #ffffff;
    transition: 1s;
  }
  button:hover {
    background: #2750b8;
    border: solid #2750b8;
    width: 110%;
    height: 88px;
    font-size: 28px;
    transition: 1s;
    cursor: pointer;
  }
}
