.footer-cont {
  margin-top: 117px;
  height: 157px;
  width: 100%;
  top: 100%;
  position: static;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  font-weight: 500;
  font-size: 24px;
  line-height: 210%;
  color: #ffffff;

  .rights {
    opacity: 0.7;
    flex-grow: 2;
    margin-left: 110px;
  }

  .number {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }

  .mail {
    text-decoration: none;
    margin-right: 110px;
    color: rgba(255, 255, 255, 0.7);
  }
}
//
//Phone display############################################################
//
@media only screen and (max-width: 800px) {
  .footer-cont{
    height: 100px;
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    

    .rights{
      margin-left: 16px;
      margin-right: 16px;
    }

    .number{
      margin-left: 16px;
      margin-right: 16px;
    }

    .mail{
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}