.nav-cont {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .logo-icon {
    margin-left: 110px;
    flex-grow: 2;
  }

  .burguer {
    margin-right: 110px;
    margin-left: 50px;
    button {
      border: none;
      cursor: pointer;
    }
    path {
      transition: 1s;
    }
  }

  .burguer:hover {
    path {
      stroke: #396ded;
    }
  }

  .burgernav-cont {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .Home-link {
      margin-left: 110px;
      margin-right: 50px;

      a {
        text-decoration: none;
        font-style: unset;
        font-weight: bold;
        font-size: 24px;
        line-height: 210%;
        color: #000000;
        transition: 1s;
      }

      a:hover {
        font-size: 26px;
      }
    }

    .services-links {
      flex-grow: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      a {
        text-decoration: none;
        font-style: unset;
        font-weight: bold;
        font-size: 24px;
        line-height: 210%;
        color: #000000;
        transition: 1s;
      }

      a:hover {
        font-size: 26px;
      }
    }

    .quote-link {
      margin-left: 50px;

      a {
        text-decoration: none;
        font-style: unset;
        font-weight: bold;
        font-size: 24px;
        line-height: 210%;
        color: #000000;
        transition: 1s;
      }

      a:hover {
        font-size: 26px;
      }
    }

    .burguer {
      margin-right: 100px;
      margin-left: 50px;
      button {
        border: none;
        cursor: pointer;
        background-color: #f0f0f0;
      }
    }

    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  }
}
