.nav{
  .nav-cont {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  
    .logo-icon {
      margin-left: 110px;
      flex-grow: 2;
    }
  
    .burguer {
      margin-right: 110px;
      margin-left: 50px;
      button {
        border: none;
        cursor: pointer;
      }
    }
  }
  
  .burgernav-cont {
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: start;
    flex-flow: column;
    gap: 50px;
  
    .top-cont{
      height: 200px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .logo-icon {
        margin-left: 110px;
        flex-grow: 2;
      }

      .bclose{
        margin-right: 110px;
        margin-left: 50px;

        button{
          background-color: black;
          border: none;
          cursor: pointer;
        }

        path{
          stroke: white;
        }
      }

      path{
        fill: white;
      }
    }
  
    .bottom-cont{
      height: 700px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 70px;
      margin-right: 110px;
      gap: 10px;

      p{
        margin: 0px;
        padding-left: 40px;
        text-decoration: none;
        font-weight: 700;
        font-size: 50px;
        line-height: 170%;
        text-transform: uppercase;
        color: white;
      }

      .services-links{
        padding-left: 40px;
        margin-left: 40px;
      }

      a{
        padding-left: 40px;
        text-decoration: none;
        font-weight: 700;
        font-size: 50px;
        line-height: 170%;
        text-transform: uppercase;
        color: white;
        transition: 0.8s;
      }

      a:hover{
        background-color: rgba($color: white, $alpha: 0.1);
        margin-left: 105px;
        color: #396ded;
      }
    }
  }
}
