nav {
  position: sticky;
  top: 0;
  z-index: 100;
  .not_visible {
    .top_nav {
      height: clamp(8rem, 8vw, 16rem);
      display: flex;
      align-items: center;
      .side_a {
        flex-grow: 1;
        a {
          svg {
            height: clamp(4rem, 4vw, 7rem);
            width: auto;
          }
        }
      }

      .side_b {
        display: flex;
        align-items: center;
        gap: clamp(2rem, 6vw, 11rem);

        .social {
          display: flex;
          align-items: center;
          gap: clamp(2rem, 2vw, 5rem);
          a {
            svg {
              height: clamp(1.5rem, 2vw, 3.2rem);
              width: auto;
            }
          }
        }

        button {
          width: clamp(2.6rem, 6vw, 8rem);
          height: clamp(0.8rem, 1.5vw, 2rem);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          span {
            background-color: black;
            width: inherit;
            height: clamp(0.2rem, 0.2vw, 0.3rem);
            transition: transform 0.3s ease, background-color 0.3s ease;
          }
        }
      }
    }
  }
  .visible {
    position: relative;
    display: flex;
    flex-direction: column;
    .top_nav {
      height: clamp(8rem, 8vw, 16rem);
      display: flex;
      align-items: center;
      .side_a {
        flex-grow: 1;
        svg {
          height: clamp(4rem, 4vw, 7rem);
          width: auto;
          path {
            fill: white;
          }
        }
      }

      .side_b {
        display: flex;
        align-items: center;
        gap: clamp(2rem, 6vw, 11rem);

        .social {
          display: flex;
          align-items: center;
          gap: clamp(2rem, 2vw, 5rem);
          p {
            color: white;
            font-size: clamp(1rem, 1.5vw, 3rem);
          }
          svg {
            height: clamp(1.5rem, 2vw, 3rem);
            width: auto;
            path {
              fill: white;
            }
          }
        }
        button {
          position: relative;
          width: clamp(2.6rem, 5vw, 8rem);
          height: clamp(0.8rem, 1.5vw, 2rem);
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            background-color: white;
            width: 100%;
            height: clamp(0.2rem, 0.2vw, 0.3rem);
            transition: transform 0.3s ease, background-color 0.3s ease;
          }
          .bar1 {
            position: absolute;
            transform: rotate(45deg);
            border-radius: 2rem;
            opacity: 70%;
          }
          .bar2 {
            transform: rotate(-45deg);
            border-radius: 2rem;
            opacity: 70%;
          }
        }
      }
    }
    .bottom_nav {
      padding: clamp(1.5rem, calc(3vw + 0.1rem), 5rem) 0rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: clamp(0.5rem, 1vw, 2rem);
      color: white;
      font-size: clamp(1.5rem, calc(3vw + 0.1rem), 5rem);
      font-weight: bold;
      animation: isVisible_nav 1.5s ease-in;

      p {
        margin: 0;
        animation: service_p 1.5s linear backwards;
        animation-delay: 2s;
      }

      .nav_links {
        transition: 0.8s;
        animation: nav_links 0.8s ease-in-out backwards;
      }
      .nav_links.service {
        margin-left: clamp(1.5rem, 2vw, 4rem);
      }

      .nav_links:nth-child(1) {
        animation-delay: 0s;
      }
      .nav_links:nth-child(2) {
        animation-delay: 0.2s;
      }
      .nav_links:nth-child(3) {
        animation-delay: 0.4s;
      }
      .nav_links:nth-child(4) {
        animation-delay: 0.6s;
      }
      .nav_links:nth-child(5) {
        animation-delay: 0.8s;
      }
      .nav_links:nth-child(6) {
        animation-delay: 1s;
      }
      .nav_links:nth-child(7) {
        animation-delay: 1.2s;
      }

      .nav_links:hover {
        background-color: rgba(255, 255, 255, 0.1);
        padding-left: clamp(4rem, 7vw, 10.5rem);
        color: #396ded;
        transition: 0.1s;
      }
    }
    .mobile {
      gap: clamp(2rem, 1vw, 4rem);
      font-size: clamp(3rem, calc(3vw + 0.1rem), 5rem);
      .nav_links.service {
        margin-left: clamp(2.5rem, 2vw, 4rem);
      }
    }
  }
  .nav_background {
    position: absolute;
    left: calc(-50vw + 50%);
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    margin-bottom: auto;
    background: black;

    animation: isVisible_nav_background 0.5s;
  }

  .top_nav_background {
    position: absolute;
    left: calc(-50vw + 50%);
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    margin-bottom: auto;
    background: #f0f0f0;
  }
}

@keyframes isVisible_nav_background {
  0% {
    height: 0rem;
  }
  100% {
    height: 100%;
  }
}

@keyframes isVisible_nav {
  0% {
    max-height: 0rem;
  }
  100% {
    max-height: 1000vh;
  }
}

@keyframes nav_links {
  0% {
    z-index: -2;
    opacity: 0;
    padding-left: clamp(4rem, 7vw, 10.5rem);
  }

  50% {
    z-index: 0;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    color: #396ded;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0rem;
    color: white;
  }
}

@keyframes service_p {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
