.description-cont {
  margin: 110px;
  margin-top: 175px;
  margin-bottom: 173px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title {
    align-self: center;
    font-weight: bold;
    font-size: 38px;
    line-height: 210%;
    color: #000000;
  }

  .details {
    width: 821px;
    font-weight: 500;
    font-size: 24px;
    line-height: 210%;
    color: #000000;
  }
}
//
//Phone display############################################################
//
@media only screen and (max-width: 900px) {
  .description-cont {
    margin: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
  
    .title {
      font-size: 30px;
      align-self: center;
    }
  
    .details {
      width: auto;
      text-align: center;
      font-size: 18px;
    }
  }
}