.hservice-cont {
  hr {
    margin: 58px 110px;
    border: 2px solid #000000;
    background-color: #000000;
  }

  .service-cont {
    height: 736px;
    margin-left: 110px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .service-title {
      margin-bottom: 13px;
      font-weight: bold;
      font-size: 38px;
      line-height: 210%;
      color: #000000;
    }

    .service-description {
      margin-bottom: 102px;
      width: 669px;
      font-weight: 500;
      font-size: 24px;
      line-height: 210%;
      color: #000000;
    }

    .image-cont {
      align-self: flex-end;

      img {
        width: 1067px;
        height: 736px;
      }
    }

    .button {
      width: 306px;
      margin-bottom: 100px;
    }
  }
}
//
//Phone display############################################################
//
@media only screen and (max-width: 800px) {
  .hservice-cont {
    hr {
      margin: 58px 16px;
      border: 1.5px solid #000000;
    }
  
    .service-cont {
      height: auto;
      margin-left: 16px;
      margin-right: 16px;
      flex-direction: column-reverse;
  
      .service-title {
        margin-bottom: 13px;
        font-size: 25px;
        text-align: center;
      }
  
      .service-description {
        margin-bottom: 102px;
        width: auto;
        font-size: 18px;
        text-align: center;
      }
  
      .image-cont {
        align-self: center;
  
        img {
          width: 358px;
          height: 209px;
        }
      }
  
      .button {
        width: auto;
        margin-bottom: 20px;
        button{
          font-size: 22px;
        }
      }
    }
  }
}