.step2_cont {
  padding: clamp(2.5rem, 3vw, 5rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 6vw, 10rem);

  .block_a {
    display: flex;
    justify-content: space-between;
    font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
    font-weight: bold;
  }

  .block_b {
    display: flex;
    justify-content: space-evenly;

    .calendar_cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }

    .map_cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }

    p {
      font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
      font-weight: bold;
    }
  }

  .buttons_container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 43rem) {
  .step2_cont {
    .buttons_container {
      flex-direction: column-reverse;
      gap: 2rem;
      width: 100%;
    }
  }
}
