.Qcard_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 5vw, 4rem);
  .card_cont {
    max-width: clamp(35rem, 30vw, 47rem);
    padding: clamp(2rem, 5vw, 4rem) 0rem;
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 4rem);
    background-color: white;
    .title_card {
      margin-left: clamp(2rem, 3vw, 4rem);
      font-size: clamp(2.5rem, calc(4vw + 0.1rem), 3.3rem);
      font-weight: bold;
    }
    .details_cont {
      margin-left: clamp(2rem, 3vw, 4rem);
      font-size: clamp(1.6rem, calc(3vw + 0.1rem), 2.3rem);
      list-style: none;
      li {
        svg {
          margin-right: clamp(1rem, 2vw, 3rem);
        }
      }
    }
  }
}
