@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap");

.App {
  padding: 0 11rem;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Manrope";
  overflow-x: hidden;
  button {
    border-style: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  hr {
    height: 0.3rem;
    width: 100%;
    background: black;
    border: 0;
  }
}
