@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap");

.App {
  margin: 0 clamp(5.5rem, 8vw, 11rem);
  display: flex;
  flex-direction: column;
}

.mobile {
  margin: 0 clamp(2rem, 3vw, 4rem);
}

body {
  font-family: "Manrope";
  overflow-x: hidden;
  button {
    border-style: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  hr {
    height: clamp(0.2rem, 0.2vw, 0.3rem);
    width: 100%;
    background: black;
    border: 0;
  }
}
