.step3_cont {
  padding: clamp(2.5rem, 3vw, 5rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 6vw, 10rem);

  .block_a {
    display: flex;
    justify-content: space-between;
    font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
    font-weight: bold;
  }

  .block_b {
    display: grid;
    grid-template-columns: 60% clamp(2rem, 3vw, 4rem) 40%;

    .side_a {
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, 2vw, 3rem);

      .input_cont {
        label {
          display: flex;
          flex-direction: column-reverse;
        }
        input {
          margin: 0;
        }
      }

      .textarea_cont {
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: column;

        textarea {
          height: clamp(15rem, 15vw, 20rem);
          padding: 0rem;
          background: #f0f0f0;
          border: clamp(0.2rem, 0.2vw, 0.3rem) solid black;
          resize: none;

          font-weight: bold;
          text-indent: 1rem;
          line-height: 3rem;
          font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
          color: rgba(0, 0, 0, 0.7);
        }

        label {
          font-weight: bold;
          font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2.5rem);
          color: black;
        }

        .char_count {
          position: relative;
          bottom: clamp(1.9rem, 3vw, 3rem);
          right: clamp(0.75rem, 2vw, 1.5rem);
          align-self: flex-end;
          font-size: clamp(1.2rem, calc(1vw + 0.1rem), 1.4rem);
          opacity: 70%;
        }
      }
    }

    .side_b {
      grid-column-start: 3;

      .terms_cont {
        padding: clamp(2rem, 3vw, 5rem);
        display: flex;
        flex-direction: column;
        background-color: white;

        .terms_title {
          font-size: clamp(2rem, calc(2.2vw + 0.1rem), 2.8rem);
          font-weight: bold;
        }

        p {
          font-size: clamp(1.6rem, calc(2vw + 0.1rem), 2.4rem);
          opacity: 70%;
          text-align: justify;
        }
      }
    }
  }

  .buttons_container {
    position: relative;
    width: 100%;
    display: flex;

    .buttons {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .right_button.disable {
        pointer-events: none;
        .button_cont {
          button {
            background-color: black;
            transition: 0.5s;
          }
        }
      }
    }

    .submitted {
      pointer-events: none;
      animation: form_buttons 1s ease-in-out forwards;
    }

    .form_submitted {
      position: absolute;
      left: clamp(-11rem, -8vw, -5.5rem);
      bottom: 0rem;
      width: 100vw;
      height: clamp(calc(100% + 2.5rem), calc(100% + 3vw), calc(100% + 5rem));
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background-color: black;
      animation: form_submited 1s ease-in-out;
      transition: 0.2s;

      color: white;
      font-size: clamp(2rem, calc(3vw + 0.1rem), 4rem);

      .form_loading_cont {
        margin: 0rem;
        display: flex;
        align-items: baseline;
        gap: 1rem;

        .form_loading_dots {
          display: flex;
          gap: 1rem;

          span {
            display: block;
            width: clamp(0.5rem, 0.6vw, 1rem);
            height: clamp(0.5rem, 0.6vw, 1rem);
            border-radius: 2rem;
            background-color: white;

            animation: form_loading 0.5s ease-in infinite alternate;
          }

          span:nth-child(1) {
            animation-delay: 0s;
          }
          span:nth-child(2) {
            animation-delay: 0.2s;
          }
          span:nth-child(3) {
            animation-delay: 0.4s;
          }
        }
      }
    }

    .success {
      background-color: #396ded;
      transition: 0.2s;
    }

    .failure {
      background-color: red;
      transition: 0.2s;
    }
  }
}

@keyframes form_submited {
  0% {
    left: 100vw;
  }

  100% {
    left: clamp(-11rem, -8vw, -5.5rem);
  }
}

@keyframes form_loading {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes form_buttons {
  0% {
    left: 0rem;
  }

  100% {
    left: -100vw;
  }
}

@media only screen and (max-width: 43rem) {
  .step3_cont {
    .block_b {
      display: flex;
      flex-direction: column;

      .side_a {
        .input_cont {
          width: 100%;
          label {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            input {
              margin: 0;
              padding: 0;
              width: 100%;
            }
          }
        }

        .textarea_cont {
          width: 100%;

          .char_count {
            width: auto;
          }
        }
      }

      .side_b {
        .terms_cont {
          .terms_title {
            text-align: center;
          }
        }
      }
    }
    .buttons_container {
      .buttons {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        width: 100%;

        .right_button {
          width: 80%;
        }

        .left_button {
          width: 80%;
        }
      }
    }
  }
}
