.step3_cont {
  padding: clamp(2.5rem, 3vw, 5rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 6vw, 10rem);

  .block_a {
    display: flex;
    justify-content: space-between;
    font-size: clamp(2.5rem, calc(3vw + 0.1rem), 5.5rem);
    font-weight: bold;
  }

  .block_b {
    display: grid;
    grid-template-columns: 60% clamp(2rem, 3vw, 4rem) 40%;

    .side_a {
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, 2vw, 3rem);

      .input_cont {
        label {
          display: flex;
          flex-direction: column-reverse;
        }
        input {
          margin: 0;
        }
      }

      .textarea_cont {
        display: flex;
        flex-direction: column;

        textarea {
          height: clamp(15rem, 15vw, 20rem);
          padding-left: 1rem;
          background: #f0f0f0;
          border: clamp(0.2rem, 0.2vw, 0.3rem) solid black;
          resize: none;

          font-weight: bold;
          font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2.4rem);
          color: rgba(0, 0, 0, 0.7);
        }

        label {
          font-weight: bold;
          font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2.5rem);
          color: black;
        }

        .char_count {
          position: relative;
          bottom: clamp(1.5rem, 3vw, 3rem);
          right: clamp(0.75rem, 2vw, 1.5rem);
          align-self: flex-end;
          font-size: clamp(0.7rem, calc(1vw + 0.1rem), 1.4rem);
          opacity: 70%;
        }
      }
    }

    .side_b {
      grid-column-start: 3;

      .terms_cont {
        padding: clamp(2rem, 3vw, 5rem);
        display: flex;
        flex-direction: column;
        background-color: white;

        .terms_title {
          font-size: clamp(1.4rem, calc(2vw + 0.1rem), 2.8rem);
          font-weight: bold;
        }

        p {
          font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2.4rem);
          opacity: 70%;
          text-align: justify;
        }
      }
    }
  }

  .buttons_container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 43rem) {
  .step3_cont {
    .block_b {
      display: flex;
      flex-direction: column;
      .side_a {
        .input_cont {
          input {
          }
        }
      }
      .side_b {
        .terms_cont {
          .terms_title {
            text-align: center;
          }
        }
      }
    }
    .buttons_container {
      flex-direction: column-reverse;
      gap: 2rem;
      width: 100%;
    }
  }
}
